            <div id="sidebar">
                <div class="sidebar-brand">
                    <h2><span class="las la-igloo"></span>LCS</h2>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="/admin/dashboard" class=""><span class="las la-igloo"></span>
                            <span>Dashboard</span></a>                     
                        </li>
                        <li>
                            <a href="/admin/users" class=""><span class="las la-users"></span>
                            <span>Customers</span></a>
                        </li>
                        <li>
                            <a href="/admin/products" class="active"><span class="lab la-product-hunt"></span>
                            <span>Products</span></a>
                        </li>
                        <li>
                            <a href="/admin/profile"><span class="las la-user-circle"></span>
                            <span>Profile</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                {{> admin/db_header}}
                <main style="background-color: #f1f5f9;">
                    <form action="/admin/products/edit/{{item.details.product_code}}?_method=PUT" enctype="multipart/form-data" class="form-update"  method="POST">
                        <div id="edit-user">
                            <div class="edit-img">
                                <img src="{{item.img}}" alt="" width="460px" height="460px">
                                <div class="mb-3">
                                    {{!-- <label for="formFileMultiple" class="form-label">Multiple files input example</label> --}}
                                    <input class="form-control " type="file" id="formFileMultiple" multiple name="product">
                                </div>
                            </div>
                            <div class="edit-info">
                                <div class="main-content-user">
                                    <div>
                                        <label for="">Name: </label>
                                        <input type="text" name="name" id="name" value="{{item.name}}">
                                    </div>
                                    <div>
                                        <label for="">Price: </label>
                                        <input type="text" name="price" id="price" value="{{item.price}}">
                                    </div>
                                    <div>
                                        <label for="">Color: </label>
                                        <input type="text" name="color" id="color" value="{{item.details.color}}">    
                                    </div>
                                    <div>
                                        <label for="">Code: </label>
                                        <input type="text" name="code" id="code" value="{{item.details.product_code}}">
                                    </div>
                                    <div>
                                        <label for="">Image details </label>
                                        {{!-- <input class="form-control " type="file" id="formFileMultiple" multiple name="product"> --}}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="btn-update">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#update">Update</button>
                        </div>
                    </form>
                </main>
            </div>
<!-- Modal -->
<div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to update?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-save-update">Save updates</button>
      </div>
    </div>
  </div>
</div>    
<script>
    const btn_save_update = document.querySelector('.btn-save-update');
    const form_update = document.querySelector('.form-update');
    btn_save_update.addEventListener('click', (event) => {
        form_update.submit();
    })
</script>       