        {{> header}}
        <div id="container">
            {{> nav}}
            <div id="container-left">
                <div class="container-img plr-16">
                    <img src="/img/jeans.jpg" alt="Jeans" class="full-width">
                    <div class="img-content">
                        <h1 class="img-content-1 font-64 text-white margin-t-b">New arrivals</h1>
                        <h1 class="img-content-2 text-white margin-t-b upper-text">COLLECTION 2016</h1>
                        <p class="mtb-15 ">     
                            <a href="#" class="font-18 text-white upper-text none-decoration img-btn-sn">shop now</a>
                        </p>
                    </div>
                </div>       
                <div class="quantity-items mtb-15 plr-16">
                    {{#with items}}
                        <p>{{this.length}} style found</p>
                    {{/with}}
                </div>     
                <div class="container-list-items">
                    <div class="row">
                    {{#each items}}
                        <div class="col col-third">
                            <a href="/items/shirts/details/{{this.details.product_code}}" class="add-to-cart none-decoration">
                                <div class="item plr-16">
                                    <div class="item-img">
                                        <img src="{{this.img}}" alt="ERR" width="100%">
                                    </div>
                                    <div class="item-content text-black">
                                        <p>{{this.name}}</p>
                                        <p>{{this.price}}.00</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {{/each}}   
                        
                    
                    </div>
                </div>
            </div> 
                 
        </div>   